rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function myRole() {
      return get(/databases/$(database)/documents/system/main/members/$(request.auth.uid)).data.role;
    }
    function isKnownRole() { return myRole() == 'manager' || myRole() == 'teacher'; }

    match /system/main/members/{uid} {
      allow read: if isSignedIn() && request.auth.uid == uid;
      allow write: if false;
    }

    match /system/main/appData/state {
      allow read, write: if isSignedIn() && isKnownRole();
    }

    match /system/main/appData/money {
      allow read, write: if isSignedIn() && myRole() == 'teacher';
    }

    match /system/main/appData/connectionTest {
      allow read, write: if isSignedIn() && isKnownRole();
    }

    match /users/{uid}/appData/{doc} {
      allow read: if isSignedIn() && request.auth.uid == uid;
      allow write: if false;
    }
  }
}
